body{
    margin: 0;
    background: #fdfcfc;
}

header{
    background: #000000;
    padding: 20px;
}

.caixa{
    position: relative;
    width: 910px;
    height: 220px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 100px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 10px;
    padding: 10px;
}

nav a, #produtos{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a{
    color: #c76c19;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#produtos{
    text-decoration: underline;
    color: #93b83f;

}

.mensagem{
    text-align: center;
    margin: 40px 0px 0px 0px;
}

.mensagem h1{
    font-size: 24px;
}

.mensagem span{
   font-size: 25px;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 30em;
    vertical-align: top;
    margin: 2% 1.5%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px #000000 solid;
    border-top: 10px solid;
    border-radius: 10px;
}

.produtos li:active{
    border-color: #463107;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}

.preco{
    font-size: 22px;
    margin: 16px 0 0;
}

.descricao, .preco{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin: 0px 0 10px 0;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0px 0px;
}

.cabelo{
    background: url("corte.png");
    background-size: cover;
}
